<div class="header">
  <h1>
	<i class="fa fa-laptop"></i>
    <%= "#{@pins.title}" %>
  </h1>
</div>

<div class="show-pin">
  <p><%= "#{@pins.text}" %></p>

  <hr/>
  <p>
    <b>Visit <%= "#{@pins.title}" %> at: </b>
    <a class="url" href="<%= "#{@pins.url}" %>" target="_blank">
      <%= "#{@pins.url}" %>
    </a>
  </p>
</div>
<br/>
<a href="/">
  <i class="fa fa-hand-o-left"></i>
  Back to Home
</a>
